<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        li{
            color: aquamarine;.

        }

        p{
            color:red;

        }
        a{
            color:greenyellow;
        }

    </style>


</head>
<body>
<p>评论数({{ comments|length }})</p>

<ul>
    {% for comment in comments %}
        <li>

            <a href="#">{{ comment.user }}</a>
            <p>{{ comment.comment }}</p>

        </li>


    {% endfor %}

</ul>

</body>
</html>